---
import { Icon } from "astro-icon/components";

import * as styles from "./Hero.css";
import Links from "./Links.astro";
---

<section class={styles.heroWrapper}>
	<div class={styles.hero}>
		<Icon name="meru" class={styles.icon} />
		<hgroup class={styles.names}>
			<h1 class={styles.name}>Shuntaro Nishizawa</h1>
			<p class={styles.aka}>しゅん / shun</p>
		</hgroup>
		<p class={styles.occupation}>Web App Developer</p>
		<Links />
	</div>
</section>
