---
import { Image } from "astro:assets";

import Icon from "@/assets/meru.svg";

import * as styles from "./Hero.css";
import Links from "./Links";
---

<section class={styles.heroWrapper}>
	<div class={styles.hero}>
		<Image alt="" src={Icon} class={styles.icon} />
		<hgroup class={styles.names}>
			<h1 class={styles.name}>Shuntaro Nishizawa</h1>
			<p class={styles.aka}>しゅん / shun</p>
		</hgroup>
		<p class={styles.occupation}>Web App Developer</p>
		<Links />
	</div>
</section>
