---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getDataEntryById } from "astro:content";

import { slugToYearMonth } from "../utils";

interface Props {
	entry: CollectionEntry<"works">;
}

const { entry } = Astro.props;

const date = slugToYearMonth(entry.slug);

const technologies = await Promise.all(
	entry.data.technologies.map((technology) =>
		getDataEntryById("technologies", technology.id),
	),
);

const { Content } = await entry.render();
---

<aritcle>
	<header class="mb-4 grid gap-4">
		<Image
			src={entry.data.image}
			widths={[300, 600, 1200, entry.data.image.width]}
			sizes={`600px`}
			alt=""
			class="h-auto w-full"
		/>
		<div>
			<h1 class="text-[2rem]">{entry.data.title}</h1>
			<time datetime={date.toString()} class="block">
				{date.toLocaleString("ja-JP")}
			</time>
		</div>
		<table
			class="border-y-2 border-y-white [&_:is(th,td)]:border-b-[1px] [&_:is(th,td)]:border-b-white [&_:is(th,td)]:p-1"
		>
			<tr>
				<th>Technologies</th>
				<td>
					<ul class="flex flex-wrap gap-2">
						{technologies.map((technology) => <li>{technology.data.name}</li>)}
					</ul>
				</td>
			</tr>
			<tr>
				<th>Platform</th>
				<td>
					<ul class="flex flex-wrap gap-2">
						{entry.data.platforms.map((platform) => <li>{platform}</li>)}
					</ul>
				</td>
			</tr>
			{
				entry.data.links && (
					<tr>
						<th>Links</th>
						<td>
							<ul class="flex flex-wrap gap-2">
								{entry.data.links.map((link) => (
									<li>
										<a
											href={link.url}
											class="underline transition-colors duration-200 ease-in-out hover:text-indigo-300"
										>
											{link.name}
										</a>
									</li>
								))}
							</ul>
						</td>
					</tr>
				)
			}
		</table>
	</header>
	<Content />
</aritcle>
