---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

import { slugToYearMonth } from "../utils";
import * as styles from "./Entry.css.ts";

interface Props {
	entry: CollectionEntry<"works">;
}

const { entry } = Astro.props;

const date = slugToYearMonth(entry.slug);

const { Content } = await entry.render();
---

<aritcle>
	<header class={styles.header}>
		<Image src={entry.data.image} alt="" class={styles.thumbnail} />
		<h1 class={styles.title}>{entry.data.title}</h1>
		<time datetime={date.toString()} class={styles.date}>
			{date.toLocaleString("ja-JP")}
		</time>
	</header>
	<Content />
</aritcle>
