---
import * as styles from "./Heading.css";
import Star from "./star.svg";

interface Props {
	level?: 1 | 2 | 3 | 4 | 5 | 6;
}

const { level = 2 } = Astro.props;

const Tag = `h${level}` as const;
---

<Tag class={styles.heading}>
	<span class={styles.textWrapper}>
		<span aria-hidden="true" class={styles.line}></span>
		<img src={Star.src} alt="" aria-hidden="true" class={styles.star} />
		<span class={styles.text}>
			<slot />
		</span>
	</span>
</Tag>
