---
import { assignInlineVars } from "@vanilla-extract/dynamic";
import { Icon } from "astro-icon/components";

import * as styles from "./Heading.css";

interface Props {
	level?: 1 | 2 | 3 | 4 | 5 | 6;
	lineOffset?: number;
}

const { level = 2, lineOffset = 0.75 } = Astro.props;

const Tag = `h${level}` as const;
---

<Tag
	class={styles.heading}
	style={assignInlineVars({
		[styles.lineOffset]: `${lineOffset}em`,
	})}
>
	<span class={styles.textWrapper}>
		<span aria-hidden="true" class={styles.line}></span>
		<Icon class={styles.star} name="star" />
		<span class={styles.text}>
			<slot />
		</span>
	</span>
</Tag>
