---
import { Image } from "astro:assets";

import Icon from "@/assets/meru.svg";

import * as styles from "./Hero.css";
---

<div class={styles.hero}>
	<Image alt="" src={Icon} class={styles.icon} />
	<div>
		<hgroup>
			<h1 class={styles.title}>NISHIZAWA Shuntaro</h1>
			<p class={styles.aka}>
				a.k.a.
				<strong>しゅん</strong>
				 /
				<strong>shun</strong>
			</p>
		</hgroup>
		<ul class={styles.links}>
			<li>
				<a href="https://x.com/shun_shobon" target="_blank">Twitter</a>
			</li>
			<li>
				<a href="https://github.com/shun-shobon" target="_blank">GitHub</a>
			</li>
		</ul>
	</div>
</div>
